 <!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>EO Search</title>
    <style>
      body {
  background: #eee;
  font: 12px Lucida sans, Arial, Helvetica, sans-serif;
	color: #333;
	text-align: center;
}

a {
	color: #2A679F;
}
/*========*/

.form-wrapper {
	background-color: #f6f6f6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eae8e8));
	background-image: -webkit-linear-gradient(top, #f6f6f6, #eae8e8);
	background-image: -moz-linear-gradient(top, #f6f6f6, #eae8e8);
	background-image: -ms-linear-gradient(top, #f6f6f6, #eae8e8);
	background-image: -o-linear-gradient(top, #f6f6f6, #eae8e8);
	background-image: linear-gradient(top, #f6f6f6, #eae8e8);
	border-color: #dedede #bababa #aaa #bababa;
	border-style: solid;
	border-width: 1px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
	-moz-box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
	box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
	margin: 100px auto;
	overflow: hidden;
	padding: 8px;
	width: 450px;
}

.form-wrapper #searchEIN,
.form-wrapper #searchName  {
	border: 1px solid #CCC;
	-webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
	-moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
	box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
  color: #999;
	float: left;
	font: 16px Lucida Sans, Trebuchet MS, Tahoma, sans-serif;
	height: 20px;
	padding: 10px;
	width: 320px;
}

.form-wrapper #searchEIN:focus,
.form-wrapper #searchName:focus {
	border-color: #aaa;
	-webkit-box-shadow: 0 1px 1px #bbb inset;
	-moz-box-shadow: 0 1px 1px #bbb inset;
	box-shadow: 0 1px 1px #bbb inset;
	outline: 0;
}

.form-wrapper #searchEIN:-moz-placeholder,
.form-wrapper #searchEIN:-ms-input-placeholder,
.form-wrapper #searchEIN::-webkit-input-placeholder,
.form-wrapper #searchName:-moz-placeholder,
.form-wrapper #searchName:-ms-input-placeholder,
.form-wrapper #searchName::-webkit-input-placeholder {
	color: #999;
	font-weight: normal;
}

.form-wrapper #submitEIN,
.form-wrapper #submitName {
	background-color: #0483a0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#31b2c3), to(#0483a0));
	background-image: -webkit-linear-gradient(top, #31b2c3, #0483a0);
	background-image: -moz-linear-gradient(top, #31b2c3, #0483a0);
	background-image: -ms-linear-gradient(top, #31b2c3, #0483a0);
	background-image: -o-linear-gradient(top, #31b2c3, #0483a0);
	background-image: linear-gradient(top, #31b2c3, #0483a0);
	border: 1px solid #00748f;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
	color: #fafafa;
	cursor: pointer;
	height: 42px;
	float: right;
	font: 15px Arial, Helvetica;
	padding: 0;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(0, 0 ,0, .3);
	width: 100px;
}

.form-wrapper #submitEIN:hover,
.form-wrapper #submitEIN:focus,
.form-wrapper #submitName:hover,
.form-wrapper #submitName:focus {
	background-color: #31b2c3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0483a0), to(#31b2c3));
	background-image: -webkit-linear-gradient(top, #0483a0, #31b2c3);
	background-image: -moz-linear-gradient(top, #0483a0, #31b2c3);
	background-image: -ms-linear-gradient(top, #0483a0, #31b2c3);
	background-image: -o-linear-gradient(top, #0483a0, #31b2c3);
	background-image: linear-gradient(top, #0483a0, #31b2c3);
}

.form-wrapper #submitEIN:active,
.form-wrapper #submitNa:meactive  {
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	outline: 0;
}

.form-wrapper #submitEIN::-moz-focus-inner,
.form-wrapper #submitName::-moz-focus-inner {
	border: 0;
}
#eoRes{
   font-size: 14px;
   font-weight: normal;
   resize: none;
   overflow-y: scroll;
}
</style>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){

      $.fn.extend({
        onKeyEnter: function(callback){
          var cb = (typeof callback == 'function') ? callback : new Function(callback);
          this.keypress(function(e){ if( e.keyCode == 13 ) setTimeout(cb,0,e); });
        }
      });

      function searchByName(){
        var name = $('#searchName').val();
        printResults('/api/records?name='+name);
      }

      function searchByEIN(){
        var ein = $('#searchEIN').val();
        printResults('/api/records/'+ein);
      }

      function printResults(url){
        $.ajax({
          url: url,
          type: 'GET'
        }).then(function(results){
          $('#searchResults').val(JSON.stringify(results, null, '\t'));
        });
      }

      //disallow form submission
      $('form').submit(function(e){ e.preventDefault(); });

    	$('#submitEIN').click(searchByEIN);
      $('#searchEIN').onKeyEnter(searchByEIN);
      
      $('#submitName').click(searchByName);
      $('#searchName').onKeyEnter(searchByName);
    });
</script>
</head>
<body>

  <!-- Github ribbon -->
  <a href="https://github.com/pointsoflight/eosearch"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>

    <h1> EO Search</h1>
    <form class="form-wrapper" name="myForm" id="testForm">
        <input type="text" id="searchEIN" placeholder="Enter EIN ..." required>
        <input type="button" id="submitEIN"  value="Search">
    </form>
    <form class="form-wrapper" name="myForm2" id="testForm2">
        <input type="text" id="searchName" placeholder="Enter Name ..." required>
        <input type="button" id="submitName"  value="Search">
    </form>
    <div class="form-wrapper">
            <h3>Results</h3>
            <textarea readonly rows="15" cols="60" id="searchResults" style="resize: none;">
            </textarea>
    </div>
</body>
</html>
